<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686375747071-lrtdrtlbiql1tm5pvuffh8uorgqgpbda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686375747071-lrtdrtlbiql1tm5pvuffh8uorgqgpbda</string>
	<key>API_KEY</key>
	<string>AIzaSyCCDPr1Rf6fkIw2mx7tk_L4-C7yv8c-cDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>686375747071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.challenge.rozaapp</string>
	<key>PROJECT_ID</key>
	<string>challenge-10536</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-10536.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686375747071:ios:d1d31b76b1b7603226bbca</string>
</dict>
</plist>